{% assign copy = site.data.copy %}

<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="{{ page.metaDescription }}">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="#STAYHOME">
    <meta property="og:url"           content="https://dontleave.org" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="#STAYHOME" />
    <meta property="og:image"         content="/img/logo-mix2.png" />
    <meta http-equiv="Content-Language" content="{{ site.active_lang }}">
    <link rel="alternate" hreflang="{{site.default_lang}}" href="https://dontleave.org{{page.permalink}}" />
    {% for lang in site.languages %}
        {% if lang == site.default_lang %}
            {% continue %}
        {% endif %}
        <link rel="alternate" hreflang="{{lang}}" href="https://dontleave.org/{{lang}}{{page.permalink}}" />
    {% endfor %}
    <!--    <link rel="icon" type="image/png" href="/img/favicon.png">-->

    <title>#STAYHOME</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/stayhome.css">

    <link href="https://fonts.googleapis.com/css?family=Lato|Sen|Raleway:700&display=swap" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160661864-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-160661864-1');
    </script>

</head>
<body>
<!-- Facebook share button -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>

<!-- Progress bar by https://medium.com/@nilayvishwakarma/ -->
<div id="_progress"></div>
<script>
    document.addEventListener(
        "scroll",
        function() {
            var scrollTop =
                document.documentElement["scrollTop"] || document.body["scrollTop"];
            var scrollBottom =
                (document.documentElement["scrollHeight"] ||
                    document.body["scrollHeight"]) - document.documentElement.clientHeight;
            scrollPercent = scrollTop / scrollBottom * 100 + "%";
            document
                .getElementById("_progress")
                .style.setProperty("--scroll", scrollPercent);
        },
        { passive: true }
    );
</script>

<!-- Header -->
<header>

    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">

            <div class="w-100 text-white" style="position: absolute">
                <p style="font-size: 5vw">{{ page.title }}</p>
                <p style="font-weight: bold; font-size: 10vw">#STAYHOME</p>
            </div>

            <div style="position: absolute;
                            right: 10%;
                            bottom: -30%;
                            width: 50vw;
                            height: 45vh;
                            z-index: -1;
                            background-color: #eb759e;
                            -webkit-transform: rotate(30deg);
                            transform: rotate(30deg);">
            </div>

        </div>



    </div>
</header>

<section>
    <div class="container-fluid part-x" id="slide-2" style="padding: 20%">

        <div class="container" style="width: 70vw;">
            <p><h1><strong>{{ page.section1-title }}</strong></h1></p>

            <div class="row justify-content-md-center" style="padding: 30px">
                <div class="col-sm" style="padding: 10px">
                    ❤ {{ page.section1-1 }}
                </div>
                <div class="col-sm" style="padding: 10px">
                    ❤ {{ page.section1-2 }}
                </div>
                <div class="col-sm" style="padding: 10px">
                    ❤ {{ page.section1-3 }}
                </div>
            </div>

            <div class="scroll-down" style="padding: 5vh"><a href="#slide-3">{{ page.learnMore }}</a></div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid part-x" id="slide-3" style="padding: 20%">

        <div class="container" style="width: 70vw;">
        <p><h1><strong>{{ page.section2-title }}</strong></h1></p>

            <div class="row justify-content-md-center" style="padding: 30px">

                <div class="col-sm" style="padding: 10px">
                    ❤ {{ page.section2-1 }}
                </div>
                <div class="col-sm" style="padding: 10px">
                    ❤ {{ page.section2-2 }}
                </div>
                <div class="col-sm" style="padding: 10px">
                    ❤ {{ page.section2-3 }}
                </div>

            </div>

            <div style="padding: 2.5vh">
                <p style="font-weight: bold">{{ page.learnMoreAt }}
                    <a href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/guidance-prevent-spread.html" target="_blank">cdc.gov</a>,
                    <a href="https://www.hopkinsmedicine.org/health/conditions-and-diseases/coronavirus/coronavirus-social-distancing-and-self-quarantine" target="_blank">hopkinsmedicine.org</a>.</p>
            </div>

            <div>
                <div class="fb-share-button" data-href="https://dontleave.org" data-layout="button" data-size="large" style="padding: 10px"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdontleave.org%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                <div class="fb-like" data-href="https://www.facebook.com/stayhome2020" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false" style="padding: 10px"></div>
                <br>
                <div style="padding: 10px"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="I&#39;m staying home during the #covid-19 outbreak! " data-url="http://dontleave.org/" data-hashtags="stayhome" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
            </div>
    </div>
    </div>
</section>

<div class="navbar-collapse navbar-ex1-collapse" id="footer" style="font-size: small; font-family: Arial; background-color: #0c37ff; color: white; padding: 2vw">
    {{ page.disclaimer }}
</div>
</body>
</html>